body {
	height: 100%;
	background-color: whitesmoke;
	max-width: 2000px;
}
 
* {
    margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#logo {
	background-color: white;
}

#logo img {
	width: 50%;
	margin: 1% 25%;
}

.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

ul {
  list-style-type: none;
  background-color: #a4bdbe;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  font-family: 'Abel', sans-serif;
  text-decoration: none;
  text-align: center;
  font-size: 25px;
  padding: 10px 20px;
}

#mission {
	margin: 2%;
	padding: 70px;
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/Images/hero.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border: solid 10px #457373;
	border-radius: 5px;
	color: white;
	font-family: 'Rajdhani', sans-serif;
	font-size: 130%;
}

h1 {
	text-align: center;
	font-size: 40px;
	padding-bottom: 10px;
}

.items:after {
	content: "";
	display: table;
	clear: both;
}

#donate, #defense, #inform {
	margin: 20px;
	padding: 10px 15px;
	text-align: center;
	font-family: 'Rajdhani', sans-serif;
	border: solid 10px #d5B9b1;
	border-radius: 5px;
	color: white;
	float: left;
	width: 30%;
}

#donate {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/Images/donate.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 80px;
}

#defense {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/Images/defense.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 80px;
}

#inform {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/Images/inform.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 80px;
}

#informpic {
	background-color: #a4bdbe;
	border-radius: 5px;
	font-family: 'Rajdhani', sans-serif;
	margin: auto;
	margin-bottom: 2%;
	padding: 20px;
	max-width: 600px;
	text-align: center;
}

#informpic img {
	width: 10%;
	height: auto;
}

.footer-social-icons{
    text-align: center;
    font-size: 20px;
    background-color:#739086;
    padding: 10px;
}
.footer-social-icons p{
    text-align: center;
    color: black;
}
.fab{
    color: black;
    font-size: 20px;
    margin: 10px;
}

@media screen and (max-width:600px) {
	#donate, #defense, #inform, #informpic {
	  width: 100%;
	}
  }